


# File types
*.pdf
*.json
*.sarif
*.txt

# Python
__pycache__
.mypy_cache
.pytest_cache
.hypothesis

# Poetry
*/dist/*

# Google Drive
.dccache

# Scripts
/build.sh
reporter/pylatexexample.py

# Single files
.coverage
.gitignore
jsontostr.py
scanner/tosarif.py
sort_severity.py
!reporter/tests/_static/vulhub_php_5.4.1_cgi.json

# VSCode
!/.vscode/tasks.json