# File types
*.pdf
*.json
*.sarif
*.txt
*.pkl

# Python
__pycache__
.mypy_cache
.pytest_cache
.hypothesis

# Poetry
*/dist/*


# Scripts
/build.sh
reporter/pylatexexample.py

# Single files
.coverage
.gitignore
jsontostr.py
scanner/tosarif.py
sort_severity.py
!reporter/tests/_static/vulhub_php_5.4.1_cgi.json

# VSCode
!/.vscode/tasks.json


# Misc
_dev/subcollections.py
reporter/reporter/frontends/latex/example.py
reporter/reporter/frontends/latex/scatter.py
setup/scanner_vm_init.sh
setup/pubsub_init.py
setup/scanner_vm_startup.sh


# TOP-LEVEL DIRECTORIES

# Secrets
.keys
.secrets

# Misc
_dev/
.build/
.devcontainer/
.persistent/
_scans/

# Google Drive
.dccache
